{% extends 'layout/base.html' %}
{% load static %}

{% block content %}
{% include 'layout/header.html' %}
<main class="videomain">
    <section class="videodetail">
        <div class="delete-comment-wrapper">
            <div class="delete-comment-container">
                <h1 class="title">Are you sure that u want to delete your comment ?</h1>
            </div>
            <form action="" method="POST">
                {% csrf_token %}
                <div class="delete-btn-container">
                    <button>Yes</button>
                    <a href="{% url 'main:index' %}">Go back</a>
                </div>
            </form>
        </div>
    </section>
</main>
{% endblock %}


{% block js_block %}
{% endblock %}