{% load static %}

<header>
    <nav>
        <form action="" class="header-form">
            <div class="input-box">
                <button class="header-btn">
                    <i class="fa-sharp fa-solid fa-magnifying-glass"></i>
                </button>
                <input type="text" class="header-search-input" placeholder="Search for people, tags, folders, Spaces and Looms  ">
            </div>
            <div class="header-links">
                <ul class="header-links-container">
                    <a href="{% url 'main:profile' %}"><li>Profile</li></a>
                    <a href="{% url 'main:payment' %}"><li>Payment</li></a>
                    <a href="{% url 'main:index' %}"><li>Home</li></a>
                    <a href="{% url 'main:logout' %}"><li><i class="fa-solid fa-right-from-bracket"></i></li></a>
                </ul>
            </div>
        </form>
    </nav>
</header>